# For Turso local dev
DATABASE_URL="http://127.0.0.1:8080"
# Turso production credentials: https://turso.tech/app
# DATABASE_AUTH_TOKEN=""
# For better-sqlite3 local dev
# DATABASE_URL="db/dev.db"
# Enable Drizzle debug logging
# DATABASE_DEBUG=true
#
# WARM=5
#
# SITE_DOMAIN=""
# Required by Auth.js on production. Set up via `npx auth secret`
AUTH_SECRET=""
# https://console.cloud.google.com/workspace-api/credentials
# AUTH_GOOGLE_ID=""
# AUTH_GOOGLE_SECRET=""
# Enable Auth.js debug logging
# AUTH_DEBUG=true
# https://analytics.google.com/
# NEXT_PUBLIC_GOOGLE_ANALYTICS_ID="G-XXXXXXXXXX"
# Enable TanStack Query react Devtools locally https://tanstack.com/query/latest/docs/framework/react/devtools
NEXT_PUBLIC_REACT_QUERY_DEVTOOLS=true
# Prevent local `next build` from using the build cache and caching DB requests https://vercel.com/docs/deployments/troubleshoot-a-build#managing-build-cache
VERCEL_FORCE_NO_BUILD_CACHE=1